<!doctype html>
<html>
  <head>
		<title></title>
		<script src="~/Content/jquery-2.1.1.min.js"></script>
    <script src="~/Content/test.js"></script>

  </head>
  <body>
		<div>
		<input type="submit" value="Test 1" id="TestController1"/><br/>
		</div>
	</body>
</html>